.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(11, 66, 167);
}

@media (max-width: 640px) {
  .toolbar {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
}

.logo {
  color: white;
  margin: 0 0 0 2rem;
}

@media (max-width: 640px) {
  .logo {
    margin: 0 0 1rem 0;
  }
}