.toolbar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(5, 116, 110);
}

@media (max-width: 640px) {
  .toolbar {
    flex-direction: column;
    justify-content: center;
  }
}

.logo {
  color: white;
  margin: 0;
}