.list {
  margin-top: 6.25rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.8125rem, 1fr));
  grid-auto-rows: 15rem;
  gap: 2rem;
}


.noResults {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
