.search {
  display: flex;
  justify-content: space-between;
}

.search input {
  font-family: inherit;
  font-size: 1.2rem;
  margin-top: 0;
  margin-right: 0.5rem;
  margin-left: 1rem;
  padding: 0.2rem 0;
  width: 10rem;
}

.search select {
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.2rem;
  margin-right: 4rem;
  background-color:  rgb(11, 66, 167);
  color: white;
  outline: none;
  border: none;
}
